# Сначала блокируем абсолютно все файлы и папки в директории
*

# Разрешаем Git видеть только ваши строго выбранные файлы и папки
!gui_app.py
!gui_app.spec
!item_codes.py
!README.md

# Разрешаем добавлять папки ресурсов и сборки целиком со всем содержимым
!scr/
!scr/**
!dist/
!dist/**
